## One-Hot Encoding

In [17]:
import pandas as pd
idx = ['Duck', 'Walrus', 'Beaver', 'Salamander']

def thing_vector(thing, idx):
    return [1 if thing == t else 0 for t in idx]

df = pd.DataFrame({
    thing : pd.Series(data=thing_vector(thing, idx), index=idx) for thing in idx
})
df

            Beaver  Duck  Salamander  Walrus
Duck             0     1           0       0
Walrus           0     0           0       1
Beaver           1     0           0       0
Salamander       0     0           1       0